@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
i {
    color: white;
    margin-right: 1.5rem;
}

i:hover {
    color: red;
}

.nav {
    color: white;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    margin-right: 1.5rem;
}

.navbar {
    opacity: 5;
}

.nav:hover{
    color: red;
}

.custom-toggler .navbar-toggler-icon {
    color: white;
}

#navTitle {
    color: rgb(210, 233, 157);
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
}