@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.About {
  height: auto;
  width: 100vw;
  background-image: url('/AboutBG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.AboutText {
  color: white;
  width: 50%;
  padding: 25px;
  line-height: 2.5rem;
  font-size: 1.5rem;
  border-right: 5px solid white;
  margin-top: -50px;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: black;
}

#body {
  position: absolute;
  margin-top: 100vh;
  background-color: black;

}

button {
  background-color: black;
  border: none;
  margin-top: -5px
}

#btnSubmit:hover {
  background-color: rgb(143, 250, 143);
  color: white;
  cursor: pointer;
}

#comingSoon {
  margin: 10%;
  font-size: 100px;
}

.Contact {
  height: 100vh;
  width: 100vw;
  color: white;
  text-decoration: none;
  background-image: url("./Assets/BG2.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  background-position-y: 100px;
}

#Events {
  height: 100vh;
  padding-top: 25px;
  width: 100vw;
  color: white;
  background-image: url("./Assets/BG3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#eventsHeader {
  padding: 50px;
}

#Footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 15px;
}

#Footer:hover {
  background-color: crimson;
  cursor: pointer;
}

#logo {
  height: 75px;
  margin-left: 25px;
}

.Feed img {
  border: 1px solid White;
  margin: 10px;
  height: 140px;
  width: 140px;
}

#form {
  padding: 75px;
}

.Head {
  background-color: black;
}

.headerTitle{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: white;
}

#Home {
  margin-left: 20%
}

#Homepage {
  width: 100vw;
}

#IG {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
}

.igIcon{
  color: white;
  padding-right: 250px;
  margin-top: 5px;
}

.Head {
  width: 100vw;
}

#Homepage {
  width: 100vw;
  height: auto;
  background-image: url('./Assets/zero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#Livestream {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  margin-top: -25px;
  padding: 75px
}

.middle {
  color: white;
  margin: 20px;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

.MusicContainer {
  height: auto;
  padding-top: 25px;
  width: 100vw;;
  background-color: black;
  color: white;
}

#Music {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#musicHeader {
  padding: 50px;
}

#nav {
  background-color: black;
  opacity: 0.7;
  height: auto;
  position:fixed;
  top:0px;
}

.navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.NewJack {
  background-image: url("./Assets/NewJack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 50%;
}

.player {
  margin: 10px;
}

#socialHeader {
  margin-bottom: 15px;
  margin-top: -25px;
}

.SocialMedia {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 30%;
}

@media only screen and (max-width: 600px) {

  body {
    overflow-x: hidden;
  }

.About {
  display: flex;
  flex-direction: column;
}

.AboutText {
  border: none;
  width: 100vw;
  padding: 5px;

}

#IG {
  display: inline;
}

 #nav {
      display: none;
  }

#socialHeader {
  display: flex;
  flex-direction: row;
}

  .SocialMedia {
    width: 100vw;
    margin-top: 25px;
  }


}